/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-conent to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;

  width: 80%; /* The parent. All children will take their widths from here. 
              This container itself will be 80% of the viewport.*/
  max-width: 750px; /* Setting a max-width will limit the space you are working in
              making the reading experiance more plesant.*/
              
  margin: 0 auto;
  /*height: 300px;*/ /* Try to avoid setting heights. 
            Constraining elements restricts the naural responsivness of the web.
            Try using padding instead. */
  padding: 1em;
  
}

.intro-content {
  background: aqua;
  width: 50%; /* Avoid setting fixed widths. 
              Constraining the web only causes problems. Try setting %'s */
  margin: 0 auto;
}
