* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem
}


/* Navigation */
header {
    background-color: #7e4880;
    padding: 2rem 0;
}

.nav__list {
    display: flex;
    list-style: none;
}

.list__item {
    color: white;
    margin-right: 2rem;
}

.nav__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--button {
    background: white;
    color: #7e4880;
    padding: .65em 1.5em;
    border-radius: 30px;
}


/* Hero Section */
.hero {
    background-color: #4E0250;
    color: white;
    padding: 70px 0;
}

.hero__container,
.info__container,
.about__container, 
.nav-container {
    /* border: solid 2px orange; */
    width: 75%;
    max-width: 1100px;
    margin: 0 auto;
}

.hero__container {
    display: flex;
    justify-content: space-evenly;
}

.hero__text {
    width: 75%;
}

.hero__text h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 3rem;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: black;
    background: #6EF9F5;
    padding: .5em 2em;
    border-radius: 30px;
}

.hero p {
    margin-bottom: 2.5em;
}


/* Main */
.main-container {
    /* border: 2px solid green; */
    display: flex;
    width: 75%;
    max-width: 1100px;
    margin: 3rem auto ;
}


/* About Section */
.about__container {
    /* border: solid 2px lime; */
    display: flex;
    color: #333333;
}


/* Info Section */
.info__container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 32%;
    padding: 1rem 1.5rem;
    background-color: #7a3e7c;
    text-align: center;
    color: white;
}


.info__col h2,
.about__col h2 {
    font-family: 'Archivo', sans-serif;
    color: #6EF9F5;
    font-size: 2rem;
    margin: 1rem 0;
}

